@{
    ViewData["Title"] = "first";
}

<h1>first</h1>
<button id="buttonSatrt" class="btn btn-primary">Ajax開始</button>
<button id="buttonStop" class="btn btn-primary">Ajax停止</button>
<div id="div1"></div>
<img src="~/images/Rocket.gif" id="img1" style="display:none" />

@section Styles{
    <style>


    </style>

}


@section Scripts{
    <script>

        const btn = document.querySelector('#buttonSatrt')        // 第一步: 找到要控制的對象  document.querySelector('#標籤的id')   記得#加上id
        const btnstop = document.querySelector('#buttonStop')
        const myDiv = document.querySelector('#div1')
        const imgLoading = document.querySelector('#img1');

        let abortController;

        btnstop.addEventListener('click', () => {
            if (abortController) {
                abortController.abort();
            }

        })


        btn.addEventListener('click', async () => {            // 第二步: 我要在什麼時候去做某件事 => 事件 click 、doubleclick、focus、blur 就是當我典籍的時候

            try {

                imgLoading.style.display = "inline" //顯示執行的圖片
                btn.setAttribute('disabled', 'disabled'); //讓按鈕不能使用

                //如果超過5秒就中斷api連線
                abortController = new AbortController();
                const signal = abortController.signal;

                setTimeout(()=>{
                    abortController.abort();
                },5000)


                //Ajax程式碼
                const response = await fetch('@Url.Content("~/api/index")', { signal });          /*url 取代為'@Url.Content("~/api/index")'*/
                const data = await response.text();

                if (!response.ok){
                 throw new Error(`錯誤代碼:${response.status}`);
                 }

                myDiv.innerHTML = `<h2>${data}</h2>`
                

            }
            catch (error) {
                myDiv.innerHTML = `<h2> ${error.message} </h2>`
            }
            finally {
                imgLoading.style.display = "none" //隱藏執行的圖片
                btn.removeAttribute('disabled'); //讓按鈕可以按
            }





        })


    </script>

}
