
@{
    ViewData["Title"] = "HomeWorkRegister";
}

<h1>會員註冊頁面</h1>



<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <h1>Register</h1>
        <form method="post" action="~/api/register" id="userForm">
            <div class="mb-3">
                <label for="InputName" class="form-label">姓名</label>
                <input type="text" class="form-control" id="InputName" name="name">
                <span id="nameCheckResult" class="form-text"></span>
            </div>
            <div class="mb-3">
                <label for="InputEmail" class="form-label">電子郵件</label>
                <input type="email" class="form-control" id="InputEmail" name="email">
            </div>
            <div class="mb-3">
                <label for="InputPassword" class="form-label">密碼</label>
                <input type="password" class="form-control" id="InputPassword" name="password">
            </div>
            <div class="mb-3">
                <label for="InputConfirmPassword" class="form-label">再次確認密碼</label>
                <input type="password" class="form-control" id="InputConfirmPassword" name="confirmPassword">
                <span id="passwordCheckResult" class="form-text"></span>
            <div class="mb-3">
                <label for="InputAge" class="form-label">年紀</label>
                <input type="number" class="form-control" id="InputAge" name="age">
            </div>
            <div class="mb-3">
                <label for="formfile" class="form-label">圖像</label>
                <input type="file" class="form-control" id="formFile" name="avatar">
            </div>

            <button type="submit" class="btn btn-primary" id="buttonSubmit">送出</button>
        </form>
        <div id="div1" class="alert alert-info mt-3"></div>

    </div>
    <div class="col-3"></div>
</div>

@section Styles {
    <style>


    </style>

}

@section Scripts {
    <script>
        const divResult = document.querySelector('#div1')
        const submitButton = document.querySelector('#buttonSubmit')
        const inputName = document.querySelector('#InputName')
        const inputEmail = document.querySelector('#InputEmail')
        const inputAge = document.querySelector('#InputAge')

        const inputPassword = document.querySelector('#InputPassword');
        const inputConfirmPassword = document.querySelector('#InputConfirmPassword');
        const nameCheckResult = document.querySelector('#nameCheckResult');
        const passwordCheckResult = document.querySelector('#passwordCheckResult');


        //檢查姓名是否已存在
        inputName.addEventListener('blur', async () => {
            let response = await fetch(`@Url.Content("~/api/CheckAccount/")?name=${inputName.value}`);
            let data = await response.text();
            if (data === "True") {
                nameCheckResult.textContent = "*此帳號名稱已被註冊";
                nameCheckResult.style.color = 'red';
            } else {
                nameCheckResult.textContent = "帳號可使用";
                nameCheckResult.style.color = 'green';
            }
        });

        //檢"確認密碼欄位"與"密碼輸入欄位" 是否一致
        inputConfirmPassword.addEventListener('blur', () => {
            if (inputPassword.value !== inputConfirmPassword.value) {
                passwordCheckResult.textContent = "密碘與上方不符合，請再確認";
                passwordCheckResult.style.color = 'red';
            } else {
                passwordCheckResult.textContent = "";
            }
        });





        submitButton.addEventListener('click', async (event) => {
            event.preventDefault(); //防止預設行為發生 -> 不要有送出的行為

            
            if (inputPassword.value !== inputConfirmPassword.value) {
                passwordCheckResult.textContent = "密碼與上方不符合，請再確認";
                return; // 如果密碼不符，停止表單提交
            }

            //[POST 方法傳遞表單]
            const myForm = document.querySelector('#userForm')
            const formData = new FormData(myForm)
   

            const url = '@Url.Content("~/api/register/")';
            const response = await fetch(url, {
                method: 'POST',
                body: formData
            });

            const data = await response.text();
            divResult.textContent = data;




        })








    </script>

}